S3method(get_shapes_sf,wizardgtfs)
S3method(get_shapes_sf,list)
S3method(get_shapes_sf,gtfs)
S3method(get_shapes_sf,data.frame)
S3method(get_stops_sf,wizardgtfs)
S3method(get_stops_sf,list)
S3method(get_stops_sf,gtfs)
S3method(get_stops_sf,data.frame)
S3method(as_wizardgtfs,tidygtfs)
S3method(as_wizardgtfs,list)
S3method(print,wizardgtfs)
S3method(print,summary.wizardgtfs)
S3method(summary,wizardgtfs)
S3method(plot,wizardgtfs)
S3method(write_gtfs,wizardgtfs)
S3method(write_gtfs,list)
export(read_gtfs)
export(write_gtfs)
export(as_wizardgtfs)
export(get_shapes)
export(get_shapes_df)
export(get_shapes_sf)
export(get_stops_sf)
export(get_frequency)
export(get_dwelltimes)
export(get_headways)
export(get_speeds)
export(get_servicepattern)
export(get_durations)
export(get_fleet)
export(get_distances)
export(filter_servicepattern)
export(filter_date)
export(filter_service)
export(filter_route)
export(filter_trip)
export(filter_stop)
export(filter_time)
export(explore_gtfs)
export(plot_frequency)
export(plot_routefrequency)
export(plot_headways)
export(plot_routeheadways)
export(plot_calendar)
export(split_trip)
export(delay_trip)
export(merge_gtfs)
